{
    "sourceRoot": "./src",
    "compact": false,
    "highlightCode": true,
    "presets": [
        "@babel/preset-typescript",
        [
            "@babel/preset-env",
            {
                "modules": "commonjs"
            }
        ]
    ]
}